{% extends "global/Page.html" %}
{% load otree static %}


{% block scripts %}
<script>
    window.onload = function () {
        var label = "{{ participant_label }}"; // Ensure it's passed as a string
        var screenout = {{ screenout }}; // Boolean from the backend
        

        var redirect_url;
        if (screenout) {
            redirect_url = '/static/ScreenoutLink.html';
        
        } else 
            pass
        
        // Redirect to the determined URL
        window.location.href = redirect_url;
    };
//build urls 
//var url_screenout = "https://mingle.respondi.com/s/1608318/ospe.php3?c_0002=0&return_tic=" + label;
//c_002 = 0

//var url_quota = "https://mingle.respondi.com/s/1608318/ospe.php3?c_0002=2&return_tic=" + label; 
//c_002 = 2
      
</script>


{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<br>
<h2> Survey Example group 2 </h2>
<hr>
please read the following question and answer carefully
<br>




<form method="post">
     
    <div class="form-group">
        <label>{{ form.gender.label }}</label>
        {{ form.gender }}
    </div>
    <br>

    <div class="form-group">
        <label>{{ form.age.label }}</label>
        {{ form.age }}
    </div>
    <br>

    
    <div class="form-group">
        <label>{{ form.Academic_status.label }}</label>
        {{ form.Academic_status }}
    </div>
    <br>

    
    <div class="form-group">
        <label>{{ form.Marital_status.label }}</label>
        {{ form.Marital_status }}
    </div>
    <br>

    
    <div class="form-group">
        <label>{{ form.Monthly_income.label }}</label>
        {{ form.Monthly_income }}
    </div>
    <br>


    <div class="form-group">
        <label>{{ form.life_satisfaction_score.label }}</label>
        {{ form.life_satisfaction_score }}
    </div>
    <br>


    
<!-- we can also have variables that are not displayed and work in the background -->
<input type="hidden" name="hidden_input">

<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Next
</button>

{% endblock %}
