{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Survey Completed
{% endblock %}


{% block scripts %}
<script>
    //this is a javascript script (code) here which belongs between the block scripts 

    //this is how we get the 'sent' variable from pages back
    var group_assignment = {{ group_assignment }};

    //depending on in which group a player was we want to display a custom message
    //we need to first get the elements we want to show

    window.onload = function () {
        var divNo = document.getElementById('pic-no');
        var divYes = document.getElementById('pic-yes');

    //we can do this with a javascript function:
        if (group_assignment == "pic-no") {
            divNo.style.display = "block";
        }
        if (group_assignment == "pic-yes") {
            divYes.style.display = "block";
        }

    };

    // if(condition){
    //     what happens when condition is met
    // }
</script>

{% endblock %}

{% block content %}
<br>
<h2>  </h2>
<hr>

<h2>The End </h2>

<p>Participant Label: {{ participant_label }}</p>





Thank you so much for your time!!!
<br>
<div id="pic-yes" style="display: none">You are satisfied! </div>
<div id="pic-no" style="display: none">You are dissatisfied!</div>
<br>




<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Submit answers
</button>

{% endblock %}