{% block scripts %}
<script>
    // window onload guarantees that the first thing once the window is loaded is executing this function
    window.onload = function () {
        var label = {{ participant_label }}; // Ensure it's passed as a string
    
        // Redirect to the CompleteLink.html page
    var complete_link = "/static/CompleteLink.html";
    window.location.href = complete_link;
    }
    
    //var complete_link = "https://mingle.respondi.com/s/1608318/ospe.php3?c_0002=1&return_tic=" + label;
    //c_002=1

    //window.location.replace(complete_link);
  
</script>

{% endblock %}


{% block content %}
<p><strong>Participant Label:</strong> {{ participant_label }}</p>
<p><strong>Redirect page.</strong></p>
{% endblock %}